@import url("/barcode2/css/blueprint/screen.css");
@import url("/barcode2/js/jquery/theme/ui.all.css");

/*override some blueprint stuff*/
input.text, input.title, textarea, select
{
    margin: .25em;
}

/*div.label { padding-top:.5em; padding-bottom:.5em;}
/*----------------- Barcode ----------------*/


div.content
{
    padding: 15px;
}

tr.even
{
    background-color: #efefef;
}
.searchResults table
{
    border-collapse: collapse;
}
.searchResults td, .searchResults th
{
    padding: 2px;
}
.searchResults table, .searchResults table tr td
{
    border: solid 1px #999;
}
.searchResults table tr th
{
    background-color: #999;
    color: #333;
    font-weight: bold;
    text-align: center;
}

a:link
{
    color: #036;
    text-decoration: none;
}
/* unvisited link */
a:visited
{
    color: #258;
    text-decoration: none;
}
/* visited link */
a:hover
{
    color: #369;
    text-decoration: none;
}
/* mouse over link */
a:active
{
    color: #933;
    text-decoration: none;
}
/* selected link */

table.dna th, table.dna td
{
    padding: 0 2em 0 2em;
}

.message
{
    border: 3px solid black;
    font-size: 1.5em;
}
.success
{
    border-color: #393;
    color: #393;
    background-color: #cfc;
}
.error
{
    border-color: #ff3333;
    color: #ff3333;
    background-color: #ffcccc;
}
